{% extends 'adm_base.html' %}
{% block title %}欢迎登录教务管理系统{% endblock %}

{% block content %}
    <body>
        <form method="post" action="{% url 'courseSelection:time_set' %}">
            {% csrf_token %}
            <h1><span class="label label-primary">设置选课时间</span></h1>
            <h1></h1>
             <h2><span class="label label-success">开始时间</span></h2>
            <input type="datetime-local" value="" name="begin_time"/>
             <h2><span class="label label-success">结束时间</span></h2>
            <input type="datetime-local" value=" " name="end_time"/>
            <button type="submit" class="btn btn-primary " onclick="return confirm('Yes/No')">设置</button>
        </form>
    </body>
{% endblock %}
{% block script %}
    <script>
        function Time_set(obj){
            {#alert(obj);#}
                {#alert(obj.name);#}
                $.ajax({
                    url: '/courseSelection/time_set',
                    type: 'POST',
                });
        }
    </script>
{% endblock %}