.idea/
.vscode/
settings.json
*.pdf
*.py[cod]
__init__.cpython-36.pyc
*cpython-36.pyc
**/__init__.cpython-36.pyc
**cpython-36**
*$py.class
*..pyc~Stashed changes
__pycache__/
**/__pycache__/
**/migrations/*
!**migrations/__init__.py
0001_initial.py
0002_auto*.py
*.pyc
EMS/graduationManagement/migrations/__pycache__/__init__.cpython-36.pyc
EMS/EMS/__pycache__/wsgi.cpython-36.pyc
*.py___jb_tmp___
*.pyc
EMS/EMS/__pycache__/wsgi.cpython-36.pyc
EMS/graduationManagement/migrations/__pycache__/__init__.cpython-36.pyc
