{% extends 'student_base.html' %}

{% load staticfiles %}

{% block content %}
<section class="content">
	<div class="row">
        <div class="col-md-12">
          <!-- The time line -->
          <ul class="timeline">
           
            <!-- timeline item -->
            <li>
              <i class="fa fa-envelope bg-aqua"></i>

              <div class="timeline-item">
                

                <h3 class="timeline-header"><a href="#">题目名称 </a>&nbsp;毕业设计管理子系统 </h3>

                
                
              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
              <i class="fa fa-user bg-aqua"></i>

              <div class="timeline-item">
                

                <h3 class="timeline-header no-border"><a href="#">教师</a> 万静</h3>
                 <div class="timeline-footer">
                  <a class="btn btn-primary btn-xs">了解更多</a>
                </div>
                

              </div>
            </li>

            <li>
              <i class="fa fa-map-marker bg-aqua"></i>

              <div class="timeline-item">
                

                <h3 class="timeline-header no-border"><a href="#">题目方向</a> 技术应用</h3>
                

              </div>
            </li>

            <li>
              <i class="fa fa-send-o bg-aqua"></i>

              <div class="timeline-item">
                

                <h3 class="timeline-header no-border"><a href="#">题目难度</a> 一般</h3>
                

              </div>
            </li>

            <li>
              <i class="fa fa-key bg-aqua"></i>

              <div class="timeline-item">
                

                <h3 class="timeline-header no-border"><a href="#">题目关键词</a> 网站开发  后台管理</h3>
                

              </div>
            </li>

            <li>
              <i class="fa fa-pencil bg-aqua"></i>

              <div class="timeline-item">
                

                <h3 class="timeline-header no-border"><a href="#">题目详细描述</a></h3>

                <div class="timeline-body">
                	管理毕业设计选题和成绩。教师可以提交多个毕业设计题目，描述题目要求和对学生的要求。学生可以浏览教师发布的毕业设计题目，进行选择。在学生完成选择后，针对每个题目教师确认选择一个学生。学生向系统提交毕业设计各种文档。教师可以查看学生提交的毕业设计文档，提交毕业设计最后成绩。最后系统应能够向管理员提供查询界面和各类报表，统计毕业设计选题情况和学生成绩。系统提供基于Web的访问，同时支持学生通过手机APP查看选题和查看成绩。
                </div>

                

              </div>
            </li>

            <li>
              <i class="fa fa-male bg-aqua"></i>

              <div class="timeline-item">
                

                <h3 class="timeline-header no-border"><a href="#">学生要求</a> </h3>

                <div class="timeline-body">
                	对Python/Java有一定基础
                </div>
                

              </div>
            </li>
            <!-- END timeline item -->
            <!-- timeline item -->
            <li>
             
          </ul>
        </div>
        <!-- /.col -->
      </div>
      <button type="button" class="btn btn-block btn-info">选课</button>
</section>
{% endblock %}

{% block script %}


    <!-- jQuery 2.2.3 -->
    <script src="{% static 'AdminLTE/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
    

    <script src="{% static 'AdminLTE/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
	<!-- Bootstrap 3.3.6 -->
	<script src="{% static 'AdminLTE/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- Select2 -->
	<script src="{% static 'AdminLTE/plugins/select2/select2.full.min.js' %}"></script>
	<!-- InputMask -->
	<script src="{% static 'AdminLTE/plugins/input-mask/jquery.inputmask.js' %}"></script>
	<script src="{% static 'AdminLTE/plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
	<script src="{% static 'AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
	<!-- date-range-picker -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js' %}"></script>
	<script src="{% static 'AdminLTE/plugins/daterangepicker/daterangepicker.js' %}"></script>
	<!-- bootstrap datepicker -->
	<script src="{% static 'AdminLTE/plugins/datepicker/bootstrap-datepicker.js' %}"></script>
	<!-- bootstrap color picker -->
	<script src="{% static 'AdminLTE/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>
	<!-- bootstrap time picker -->
	<script src="{% static 'AdminLTE/plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
	<!-- SlimScroll 1.3.0 -->
	<script src="{% static 'AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
	<!-- iCheck 1.0.1 -->
	<script src="{% static 'AdminLTE/plugins/iCheck/icheck.min.js' %}"></script>
	<!-- FastClick -->
	<script src="{% static 'AdminLTE/plugins/fastclick/fastclick.js' %}"></script>
	<!-- AdminLTE App -->
	<script src="{% static 'AdminLTE/dist/js/app.min.js' %}"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="{% static 'AdminLTE/dist/js/demo.js' %}"></script>
	<!-- Page script -->
	<script>
	  $(function () {
	    //Initialize Select2 Elements
	    $(".select2").select2();
	  });
    $(".jump").click(function () {
             location.href = "{% url 'graduationManagement:student_view_project_detail' %}";
         });
	</script>


{% endblock %}
