{% extends 'student_base.html' %}

{% load staticfiles %}

{% block content %}
	<div class='row'>
		<div class="col-md-12">
         
          <!-- /.box -->
          <!-- general form elements disabled -->
          <div class="box box-warning">
            <div class="box-header with-border">
              <h3 class="box-title">General Elements</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form role="form">
                <!-- text input -->
                <div class="form-group">
                  <label>Text</label>
                  <input type="text" class="form-control" placeholder="Enter ...">
                </div>
                <div class="form-group">
                  <label>Text Disabled</label>
                  <input type="text" class="form-control" placeholder="Enter ..." disabled="">
                </div>

                <!-- textarea -->
                <div class="form-group">
                  <label>Textarea</label>
                  <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                </div>
                <div class="form-group">
                  <label>Textarea Disabled</label>
                  <textarea class="form-control" rows="3" placeholder="Enter ..." disabled=""></textarea>
                </div>

                <!-- input states -->
                <div class="form-group has-success">
                  <label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Input with success</label>
                  <input type="text" class="form-control" id="inputSuccess" placeholder="Enter ...">
                  <span class="help-block">Help block with success</span>
                </div>
                <div class="form-group has-warning">
                  <label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i> Input with
                    warning</label>
                  <input type="text" class="form-control" id="inputWarning" placeholder="Enter ...">
                  <span class="help-block">Help block with warning</span>
                </div>
                <div class="form-group has-error">
                  <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Input with
                    error</label>
                  <input type="text" class="form-control" id="inputError" placeholder="Enter ...">
                  <span class="help-block">Help block with error</span>
                </div>

                <!-- checkbox -->
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox">
                      Checkbox 1
                    </label>
                  </div>

                  <div class="checkbox">
                    <label>
                      <input type="checkbox">
                      Checkbox 2
                    </label>
                  </div>

                  <div class="checkbox">
                    <label>
                      <input type="checkbox" disabled="">
                      Checkbox disabled
                    </label>
                  </div>
                </div>

                <!-- radio -->
                <div class="form-group">
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                      Option one is this and that—be sure to include why it's great
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                      Option two can be something else and selecting it will deselect option one
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                      Option three is disabled
                    </label>
                  </div>
                </div>

                <!-- select -->
                <div class="form-group">
                  <label>Select</label>
                  <select class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Select Disabled</label>
                  <select class="form-control" disabled="">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </div>

                <!-- Select multiple-->
                <div class="form-group">
                  <label>Select Multiple</label>
                  <select multiple="" class="form-control">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Select Multiple Disabled</label>
                  <select multiple="" class="form-control" disabled="">
                    <option>option 1</option>
                    <option>option 2</option>
                    <option>option 3</option>
                    <option>option 4</option>
                    <option>option 5</option>
                  </select>
                </div>

              </form>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-info pull-right">Sign in</button>
              </div>
          </div>
          <!-- /.box -->
        </div>
	</div>		
{% endblock %}

{% block script %}
	 <script src="{% static 'AdminLTE/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
	<!-- Bootstrap 3.3.6 -->
	<script src="{% static 'AdminLTE/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- Select2 -->
	<script src="{% static 'AdminLTE/plugins/select2/select2.full.min.js' %}"></script>
	<!-- InputMask -->
	<script src="{% static 'AdminLTE/plugins/input-mask/jquery.inputmask.js' %}"></script>
	<script src="{% static 'AdminLTE/plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
	<script src="{% static 'AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
	<!-- date-range-picker -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js' %}"></script>
	<script src="{% static 'AdminLTE/plugins/daterangepicker/daterangepicker.js' %}"></script>
	<!-- bootstrap datepicker -->
	<script src="{% static 'AdminLTE/plugins/datepicker/bootstrap-datepicker.js' %}"></script>
	<!-- bootstrap color picker -->
	<script src="{% static 'AdminLTE/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>
	<!-- bootstrap time picker -->
	<script src="{% static 'AdminLTE/plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
	<!-- SlimScroll 1.3.0 -->
	<script src="{% static 'AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
	<!-- iCheck 1.0.1 -->
	<script src="{% static 'AdminLTE/plugins/iCheck/icheck.min.js' %}"></script>
	<!-- FastClick -->
	<script src="{% static 'AdminLTE/plugins/fastclick/fastclick.js' %}"></script>
	<!-- AdminLTE App -->
	<script src="{% static 'AdminLTE/dist/js/app.min.js' %}"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="{% static 'AdminLTE/dist/js/demo.js' %}"></script>
	<!-- Page script -->
{% endblock %}


