{% extends 'teacher_base.html' %}
{% load staticfiles %}

{% block content %}


      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">毕设题目列表</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
           <div class="box-body table-responsive no-padding">
              <table class="table table-bordered table-striped dataTable" role="grid" style="text-align: center;vertical-align:middle;">
                <tbody><tr>
                 
                  <th style="text-align:center;width:10%">题目名称</th>
                   <th style="text-align:center;width:6%">选题学生</th>
                   <th style="text-align:center;">阶段</th>
                   <th style="text-align:center;">文档下载</th>
                   <th style="text-align:center;">论点</th>
                    <th style="text-align:center;">方案</th>
                    <th style="text-align:center;">答辩</th>
                    <th style="text-align:center;">操作</th>
                    <th style="text-align:center;">总分</th>
                </tr>
                {% for item1,item2,item11,item22 in info %}

                  <td rowspan="2" style="text-align:center;vertical-align:middle;">{{ item1.schoic.pno.pname }}</td>
                  <td rowspan="2" style="text-align:center;vertical-align:middle;">{{ item1.schoic.sno.name}}</td>
                  <td>{{ item1.dtype }}</td>
                  <td><button type="button" class="btn btn-default">文档下载</button></td>
                  <td>{{ item11.lundian }}</td>
                    <td>{{ item11.fangan }}</td>
                    <td>{{ item11.dabian }}</td>
                    {% if item11.dabian == 0 %}
                  <td><button type="button" class="btn btn-default" onclick="javascript:window.location.href='/graduationManagement/teacher_view_projectfiles_detail?id={{ item1.id }}'">待添加</button></td>
                    {% else %}
                  <td><button type="button" class="btn btn-default" onclick="javascript:window.location.href='/graduationManagement/teacher_view_projectfiles_detail?id={{ item1.id }}'">修改</button></td>
                    {% endif  %}
                    <td rowspan="2" style="text-align:center;vertical-align:middle;">{{ item11.grade }}</td>
                </tr>
                    <tr>
                     <td>{{ item2.dtype }}</td>
                  <td><button type="button" class="btn btn-default">文档下载</button></td>
                  <td>{{ item11.lundian }}</td>
                    <td>{{ item11.fangan }}</td>
                    <td>{{ item11.dabian }}</td>
                    {% if item22.dabian == 0 %}
                  <td><button type="button" class="btn btn-default" onclick="javascript:window.location.href='/graduationManagement/teacher_view_projectfiles_detail?id={{ item2.id }}'">待添加</button></td>
                    {% else %}
                  <td><button type="button" class="btn btn-default" onclick="javascript:window.location.href='/graduationManagement/teacher_view_projectfiles_detail?id={{ item2.id }}'">修改</button></td>
                    {% endif  %}
                    </tr>
               {% endfor %}
            
                
              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
{% endblock %}

{% block script %}


    <!-- jQuery 2.2.3 -->
    <script src="{% static 'AdminLTE/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
    

    <script src="{% static 'AdminLTE/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
	<!-- Bootstrap 3.3.6 -->
	<script src="{% static 'AdminLTE/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- Select2 -->
	<script src="{% static 'AdminLTE/plugins/select2/select2.full.min.js' %}"></script>
	<!-- InputMask -->
	<script src="{% static 'AdminLTE/plugins/input-mask/jquery.inputmask.js' %}"></script>
	<script src="{% static 'AdminLTE/plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
	<script src="{% static 'AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
	<!-- date-range-picker -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js' %}"></script>
	<script src="{% static 'AdminLTE/plugins/daterangepicker/daterangepicker.js' %}"></script>
	<!-- bootstrap datepicker -->
	<script src="{% static 'AdminLTE/plugins/datepicker/bootstrap-datepicker.js' %}"></script>
	<!-- bootstrap color picker -->
	<script src="{% static 'AdminLTE/plugins/colorpicker/bootstrap-colorpicker.min.js' %}"></script>
	<!-- bootstrap time picker -->
	<script src="{% static 'AdminLTE/plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
	<!-- SlimScroll 1.3.0 -->
	<script src="{% static 'AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
	<!-- iCheck 1.0.1 -->
	<script src="{% static 'AdminLTE/plugins/iCheck/icheck.min.js' %}"></script>
	<!-- FastClick -->
	<script src="{% static 'AdminLTE/plugins/fastclick/fastclick.js' %}"></script>
	<!-- AdminLTE App -->
	<script src="{% static 'AdminLTE/dist/js/app.min.js' %}"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="{% static 'AdminLTE/dist/js/demo.js' %}"></script>
	<!-- Page script -->
	<script>
	  $(function () {
	    //Initialize Select2 Elements
	    $(".select2").select2();
	  });


{% endblock %}
