{% extends "teacher_base.html" %}
{% load staticfiles %}

{% block content %}

    <section class="content-header">
        <h4>请选择您要录入的课程</h4>
        <ol class="breadcrumb">
            <li><a href="{% url 'scoreManagement:welcome' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">成绩录入</li>
        </ol>
    </section>

    <section class="content">
        <div class="box box-default">
            <div class="box-header">
                <h3>您这学期的课程</h3>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped">
                <thead>
                <th></th>
                </thead>
            </table>
        </div>
    </section>
{% endblock %}

{% block script %}

{% endblock %}


