{% extends 'adm_base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="content-header">
        <h1>查看全校成绩
            <small>Info</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'scoreManagement:welcome' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">成绩管理</li>
            <li class="active">查看全校成绩</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">查看全校成绩查询</h3>
                <div class="btn-group pull-right ">
                    <button id='add' class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-plus"></span>增加
                    </button>
                    <button id='change' class="btn btn-info" type="button">
                        <span class="glyphicon glyphicon-pencil"></span>修改
                    </button>
                    <button id='delete' class="btn btn-success" type="button">
                        <span class="glyphicon glyphicon-remove"></span>删除
                    </button>
                </div>
            </div>
            <div class="box-body">
                <table id="all_course_score" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>学年</th>
                        <th>学期</th>
                        <th>课程编号</th>
                        <th>课程名称</th>
                        <th>考核方式</th>
                        <th>总分</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course_score in all_course_score %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ course_score.teaching.mcno.year | safe}}</td>
                            <td>{{ course_score.teaching.mcno.semester | safe}}</td>
                            <td>{{ course_score.teaching.mcno.cno.cno | safe}}</td>
                            <td>{{ course_score.teaching.mcno.cno.cname | safe}}</td>
                            <td>{{ course_score.teaching.mcno.exam_method | safe }}</td>
                            <td>{{ course_score.score }}</td>
{% comment %}                             
                            <td>{% widthratio course_score.score 1 course_score.teaching.weight %}</td>
                            <td>{% widthratio course_score.score 1 course_score.teaching.weight %}</td> {% endcomment %}
                        <tr>
                    {% endfor %}
                    </tbody>

                    <tfoot>
                    <tr>
                        <th>编号</th>
                        <th>学年</th>
                        <th>学期</th>
                        <th>课程编号</th>
                        <th>课程名称</th>
                        <th>考核方式</th>
                        <th>总分</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </section>
{% endblock %}

<script>
    var allCourseScoreTable = $("#all_course_score").DataTable({
                "paging": true,       <!-- 允许分页 -->
                "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                "searching": true,    <!-- 允许内容搜索 -->
                "ordering": true,     <!-- 允许排序 -->
                "info": true,         <!-- 显示信息 -->
                "autoWidth": false,    <!-- 固定宽度 -->
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": true,
                    "targets": 0
                }],
                "order": [[0, 'asc']]
            });
</script>