{% extends 'adm_base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="content-header">
        <h1>查询专业培养计划
            <small>管理员</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'scoreManagement:welcome' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">成绩管理</li>
            <li class="active">查询专业培养计划</li>
        </ol>
    </section>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">专业培养计划表</h3>
            <div class="box-header ">
                <label style="color: red">学院：</label><select id="college" class="select2" style="width: 20%">
                <option value="ALL" selected="selected">全部</option>
                {% for item in all_college %}
                    <option value="{{ item }}">{{ item }}
                {% endfor %}
            </select>
                <label style="color: red">专业：</label><select id="major" class="select2" style="width: 15%">
                <option value="ALL" selected="selected">全部</option>
                {% for item in all_major %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>年级：</label><select id="year" class="select2" style="width: 15%">
                <option value="ALL" selected="selected">全部</option>
                {% for item in all_year %}
                    <option value="{{ item.year }}">{{ item.year }}</option>
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>

            <div class="box-body">
                <table id="major_plan_table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>学院</th>
                        <th>专业</th>
                        <th>年级</th>
                        <th>计划人数</th>
                        <th>最低毕业学分</th>
                        <th>学制</th>
                        <th>计划课程总数</th>
                        <th>班级个数</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in all_major_plan %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.major.in_college }}</td>
                            <td>{{ item.major }}</td>
                            <td>{{ item.year }}</td>
                            <td>{{ item.people_num }}</td>
                            <td>{{ item.score_grad }}</td>
                            <td>{{ item.stu_years }}</td>
                            <td>{{ item.course_num }}</td>
                            <td>{{ item.cls_num }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer">
            <div class="btn-group pull-left ">
                <a id="a">
                    <button id='change_major_plan_btn' class="btn btn-info" type="button">
                        <span class="glyphicon glyphicon-pencil"></span>修改专业计划方案
                    </button>
                </a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="changePlan">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="" name="changeMajorPlan" method="get" onsubmit="return(false);">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">修改专业培养计划</h4>
                    </div>
                    <div class="modal-content" id="changePlanModal">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="changeScoreCollege" class="col-sm-2 control-label">学院：</label>
                                <div class="col-sm-10">
                                    <input type="text" id="changeScoreCollege" disabled class="form-control"
                                           name="change_college">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="changePlanMajor" class="col-sm-2 control-label">专业：</label>
                                <div class="col-sm-10">
                                    <input type="text" id="changePlanMajor" disabled class="form-control"
                                           name="change_major">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="changePlanYear" class="col-sm-2 control-label">年级：</label>
                                <div class="col-sm-10">
                                    <input type="text" id="changePlanYear" disabled class="form-control"
                                           name="change_year">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="changePlanNum" class="col-sm-2 control-label">计划人数：</label>
                                <div class="col-sm-10">
                                    <input type="text" id="changePlanNum" class="form-control"
                                           name="change_num">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="changeLowestScore" class="col-sm-2 control-label">毕业最低学分：</label>
                                <div class="col-sm-10">
                                    <input type="text" id="changeLowestScore" class="form-control"
                                           name="change_lowest_score">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="changePlanStuMethod" class="col-sm-2 control-label">学制：</label>
                                <div class="col-sm-10">
                                    <input type="text" id="changePlanStuMethod" class="form-control"
                                           name="change_course_stu_method">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="changePlanCourseNum" class="col-sm-2 control-label">计划课程总数：</label>
                                <div class="col-sm-10">
                                    <input type="text" id="changePlanCourseNum" class="form-control"
                                           name="change_course_num">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="changePlanClassNum" class="col-sm-2 control-label">班级个数：</label>
                                <div class="col-sm-10">
                                    <input type="text" id="changePlanClassNum" class="form-control"
                                           name="change_class_num">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="center-block">
                                <button id="cancelChange" type="button" class="btn btn-default"
                                        data-dismiss="modal">取消
                                </button>
                                <button id="sureToChange" type="submit" class="btn btn-success">保存</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var college = $('#college').val();
                var major = $('#major').val();
                var year = $('#year').val();
                return ((college === data[1] || college === "ALL") && (((major === data[2] || major === "ALL") && (year === data[4] || year === "ALL"))));
            }
        );
        $(document).ready(function () {
            var table = $('#major_plan_table').DataTable(
                {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy',
                        {
                            extend: 'excel',
                            filename: "专业培养计划表",
                        },
                        {
                            extend: 'print',
                            filename: "专业培养计划表",
                        }
                    ],
                    "paging": true,       <!-- 允许分页 -->
                    "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                    "searching": true,    <!-- 允许内容搜索 -->
                    "ordering": true,     <!-- 允许排序 -->
                    "info": true,         <!-- 显示信息 -->
                    "autoWidth": false,    <!-- 固定宽度 -->
                    "language": {
                        "sProcessing": "处理中...",
                        "sLengthMenu": "显示 _MENU_ 项结果",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix": "",
                        "sSearch": "搜索:",
                        "sUrl": "",
                        "sEmptyTable": "表中数据为空",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands": ",",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "上页",
                            "sNext": "下页",
                            "sLast": "末页"
                        },
                        "oAria": {
                            "sSortAscending": ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    },
                    "columnDefs": [{
                        "searchable": false,
                        "orderable": true,
                        "targets": 0
                    }],
                    "order": [[0, 'asc']]
                }
            );

            $('#major_plan_table tbody').on('click', 'tr', function (e) {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
            $('#major, #year, #college').change(function () {
                table.draw();
            });
            $('.select2').select2();

            $('#change_major_plan_btn').click(function () {
                if (table.rows('.selected').data().length) {
                    var rowData = table.rows('.selected').data()[0];
                    var form_modal = $('#changePlan');
                    var inputs = form_modal.find('input');
                    for (let i = 1; i <= inputs.length; i++) {
                        $(inputs[i - 1]).val(rowData[i]);
                    }
                    form_modal.modal();
                } else {
                    alert("请选择一项成绩修改");
                }
            });

            $('#sureToChange').click(function () {
                var inputs = $('#changePlan').find('input');
                var values = [];
                for (let i = 0; i < inputs.length; i++) {
                    values.push($(inputs[i]).val());
                }

                const college = values[0];
                const major = values[1];
                const year = values[2];
                const people_num = values[3];
                const lowest_score = values[4];
                const stu_method = values[5];
                const course_num = values[6];
                const adm_class_num = values[7];

                const data = {
                    'year': year,
                    'major': major,
                    'people_num': people_num,
                    'lowest_score': lowest_score,
                    'stu_method': stu_method,
                    'course_num': course_num,
                    'adm_class_num': adm_class_num,
                };
                console.log(data);

                $.get(
                    "{% url 'scoreManagement:adm_change_major_plan' %}",
                    data,
                    function (ret) {
                        if (!ret) {
                            alert("修改失败");
                        } else {
                            const new_people_num = ret['new_people_num'];
                            const new_score_grad = ret['new_score_grad'];
                            const new_clsw_num = ret['new_clsw_num'];
                            const new_stu_years = ret['new_stu_years'];
                            const new_course_num = ret['new_course_num'];

                            let tds = Array.prototype.slice.call($('.selected td'));
                            tds[4].innerHTML = new_people_num;
                            tds[5].innerHTML = new_score_grad;
                            tds[6].innerHTML = new_clsw_num;
                            tds[7].innerHTML = new_stu_years;
                            tds[8].innerHTML = new_course_num;
                            alert('修改成功！');
                        }
                    }
                );
            });
        });
    </script>
{% endblock %}