{% extends 'adm_base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="content-header">
        <h1>成绩管理子系统
            <small>管理员</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'scoreManagement:welcome' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">全校成绩查询</li>
        </ol>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">全校课程成绩表</h3>
                <form action="{% url 'scoreManagement:adm_all_course_score' %}" method="get" class="form-group">
                    <div class="form-group col-md-4">
                        <label for="course_year" style="color: red;">学年：</label>
                        <select name="sear_year" id="course_year" class="form-control select2">
                            <option value="NULL" selected="selected">无</option>
                            {% for year in all_years %}
                                {% if sear_year == year %}
                                    <option selected="selected" value={{ year }}>{{ year }}</option>
                                    {% else %}
                                    <option value={{ year }}>{{ year }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="course_semester" style="color: red;">学期：</label>
                        <select name="sear_semester" id="course_semester" class="form-control select2">
                            <option value="NULL" selected="selected">无</option>
                            {% for semester in all_semester %}
                                {% if sear_semester == semester %}
                                    <option selected="selected" value={{ semester }}>{{ semester }}</option>
                                    {% else %}
                                    <option value={{ semester }}>{{ semester }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="course_college">学院：</label>
                        <select name="sear_college" id="course_college" class="form-control select2">
                            <option value="ALL" selected="selected">全部</option>
                            {% for college in all_colleges %}
                                <option value={{ college }}>{{ college }}</option>
                            {% endfor %}
                        </select>
                        <label for="course_major">专业：</label>
                        <select name="sear_major" id="course_major" class="form-control select2">
                            <option value="ALL" selected="selected">全部</option>
                            {% for major in all_majors %}
                                <option value={{ major }}>{{ major }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <button id='make_search' class="btn btn-primary pull-right" type="submit">
                            <span class="glyphicon glyphicon-search"></span>查找
                        </button>
                    </div>
                </form>
            </div>
            <div class="box-body">
                <table id="all_course_table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>学年</th>
                        <th>学期</th>
                        <th>学院</th>
                        <th>专业</th>
                        <th>学生学号</th>
                        <th>课程号</th>
                        <th>考核方式</th>
                        <th>平时成绩</th>
                        <th>考试成绩</th>
                        <th>总分</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course_score in all_course_score %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ course_score.teaching.mcno.year }}</td>
                            <td>{{ course_score.teaching.mcno.semester }}</td>
                            <td>{{ course_score.teaching.mcno.mno.major.in_college | safe }}</td>
                            <td>{{ course_score.teaching.mcno.mno.major | safe }}</td>
                            <td>{{ course_score.sno.username }}</td>
                            <td>{{ course_score.teaching.mcno.cno.cno }}</td>
                            {% if course_score.teaching.mcno.exam_method  == True %}
                                <td>考核</td>
                            {% else %}
                                <td>考察</td>
                            {% endif %}
                            <td>{{ course_score.commen_score }}</td>
                            <td>{{ course_score.final_score }}</td>
                            <td>{{ course_score.score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
    <script>
        $.fn.dataTable.ext.search.push(
            function (setting, data, dataIndex) {
                let sl_college = $("#course_college").val();
                let sl_major = $("#course_major").val();
                return ((sl_college === data[3] || sl_college === 'ALL') && (sl_major === data[4] || sl_major === 'ALL'));

            }
        );
        $(function () {
            var table = $('#all_course_table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "paging": true,       <!-- 允许分页 -->
                "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                "searching": true,    <!-- 允许内容搜索 -->
                "ordering": true,     <!-- 允许排序 -->
                "info": true,         <!-- 显示信息 -->
                "autoWidth": false,    <!-- 固定宽度 -->
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": true,
                    "targets": 0
                }],
                "order": [[0, 'asc']]
            });

            $('#all_course_table tbody').on('click', 'tr', function (e) {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $('.select2').select2();
            $('#course_major #course_college #course_semester #course_year').change(
                function () {
                    table.draw();
                }
            );
        })
    </script>
{% endblock %}