{% extends 'student_base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="content-header">
        <h1>成绩管理子系统
            <small>Info</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'scoreManagement:welcome' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">查看个人成绩</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">查看个人成绩</h3>
                <div class="box-header">
                    <label style="color: red">学年：</label>
                    <select name="year" id="course_year" class="select2" style="width: 25%">
                        <option value="All" selected="selected">全部</option>
                        {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                    <label style="color: red">学期：</label>
                    <select name="semester" id="course_semester" class="select2" style="width: 25%">
                        <option value="All" selected="selected">全部</option>
                        {% for semester in semesters %}
                            <option value="{{ semester }}">{{ semester }}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>
            <div class="box-body">
                <table id="my_course_score_table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>学年</th>
                        <th>学期</th>
                        <th>课程号</th>
                        <th>课程名</th>
                        <th>分数</th>
                        <th>平时分</th>
                        <th>期末成绩</th>
                        <th>学分</th>
                        <th>老师</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for course_score in my_course_score %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ course_score.teaching.mcno.year }}</td>
                            <td>{{ course_score.teaching.mcno.semester }}</td>
                            <td>{{ course_score.teaching.mcno.cno.cno }}</td>
                            <td>{{ course_score.teaching.mcno.cno.cname }}</td>
                            <td>{{ course_score.score }}</td>
                            <td>{{ course_score.commen_score }}</td>
                            <td>{{ course_score.final_score }}</td>
                            <td>{{ course_score.teaching.mcno.cno.score }}</td>
                            <td>{{ course_score.teaching.tno.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}
    <script>
        $.fn.dataTable.ext.search.push(
            function (setting, data, dataIndex) {
                let sl_year = $("#course_year").val();
                let sl_semester = $("#course_semester").val();
                return (sl_year == data[1] && sl_semester == data[2]) ||
                    (sl_year == "All" && sl_semester == "All") || (sl_year == "All" && sl_semester == data[2]) |
                    (sl_year == data[1] && sl_semester == "All");
            }
        );

        $(function () {
            var table = $('#my_course_score_table').DataTable({
                "paging": true,       <!-- 允许分页 -->
                "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                "searching": true,    <!-- 允许内容搜索 -->
                "ordering": true,     <!-- 允许排序 -->
                "info": true,         <!-- 显示信息 -->
                "autoWidth": false,    <!-- 固定宽度 -->
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": true,
                    "targets": 0
                }],
                "order": [[0, 'asc']]
            });

            $('#my_course_score_table tbody').on('click', 'tr', function (e) {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $('#course_year, #course_semester').change(function () {
                table.draw();
            });

            $('.select2').select2();
        })
    </script>
{% endblock %}