{% extends 'teacher_base.html' %}
{% load staticfiles %}


{% block content %}
    <section class="content-header">
        <h1>成绩管理
            <small>Info</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'scoreManagement:welcome' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">上传成绩</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">学生成绩表</h3>

                <div class="box-header">

                    <label for="">行政班：</label>
                    <select name="adm_class" id="in_class" class="select2" style="width: 20%;">
                        <option value="ALL" selected="selected">全部</option>
                        {% for item in adm_class_list %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>

                </div>

            </div>
            <div class="box-body">
                <table id="student_score_table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年级</th>
                        <th>班级</th>
                        <th>平时分</th>
                        <th>考试分</th>
                        <th>考试权重</th>
                        <th>总分</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in course_selected %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ student.sno }}</td>
                            <td>{{ student.sno.name }}</td>
                            {% if student.sno.sex == True %}
                                <td>男</td>
                            {% else %}
                                <td>女</td>
                            {% endif %}
                            <td>{{ student.sno.in_year }}</td>
                            <td>{{ student.sno.in_cls.name }}</td>
                            <td>{{ student.common_score }}</td>
                            <td>{{ student.final_score }}</td>
                            <td>{{ student.cno.tno.weight }}</td>
                            <td>{{ student.score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                </table>
            </div>
        </div>
    </section>
{% endblock %}


{% block script %}
    <script>

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                let adm_class = $('#in_class').val();
                return adm_class === "ALL" || adm_class === data[5];
            }
        );

        $(document).ready(function () {
            var table = $('#student_score_table').DataTable(
                {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy',
                        {
                            extend: 'excel',
                            filename: "所教课程表",
                        },
                        {
                            extend: 'print',
                            filename: "所教课程表",
                        }
                    ],
                    "paging": true,       <!-- 允许分页 -->
                    "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                    "searching": true,    <!-- 允许内容搜索 -->
                    "ordering": true,     <!-- 允许排序 -->
                    "info": true,         <!-- 显示信息 -->
                    "autoWidth": false,    <!-- 固定宽度 -->
                    "language": {
                        "sProcessing": "处理中...",
                        "sLengthMenu": "显示 _MENU_ 项结果",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix": "",
                        "sSearch": "搜索:",
                        "sUrl": "",
                        "sEmptyTable": "表中数据为空",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands": ",",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "上页",
                            "sNext": "下页",
                            "sLast": "末页"
                        },
                        "oAria": {
                            "sSortAscending": ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    },
                    "columnDefs": [{
                        "searchable": false,
                        "orderable": true,
                        "targets": 0
                    }],
                    "order": [[0, 'asc']]
                }
            );

            $('#student_score_table tbody').on('click', 'tr', function (e) {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
            // Event listener to the two range filtering inputs to redraw on input
            $('#in_class').change(function () {
                table.draw();
            });
            $('.select2').select2();
        });
    </script>
{% endblock %}

