{% extends 'teacher_base.html' %}
{% load staticfiles %}


{% block content %}
    <section class="content-header">
        <h1>成绩管理
            <small>Info</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'scoreManagement:welcome' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">上传成绩</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">学生成绩表</h3>

                <div class="box-header">
                    <div class="pull-right">
                        <div class="col-md-6">
                            <p>如果需要批量上传成绩，先点击下载Excel文件，再点击批量上传</p>
                        </div>

                        <div class="btn-group pull-left ">
                            <a id="a">
                                <button id='add_score_btn' class="btn btn-info" type="button">
                                    <span class="glyphicon glyphicon-plus"></span>填成绩
                                </button>
                            </a>

                            <a id="a">
                                <button id='xls_btn' class="btn btn-success" type="button">
                                    <span class="glyphicon glyphicon-save"></span>批量上传
                                </button>
                            </a>

                            <a id="b">
                                <button id='change_weight_btn' class="btn btn-danger" type="button">
                                    <span class="glyphicon glyphicon-pencil"></span>修改权重
                                </button>
                            </a>
                        </div>
                    </div>

                    <label for="">行政班：</label>
                    <select name="adm_class" id="in_class" class="select2" style="width: 20%;">
                        <option value="ALL" selected="selected">全部</option>
                        {% for item in adm_class_list %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
                    </select>

                </div>

            </div>
            <div class="box-body">
                <table id="student_score_table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年级</th>
                        <th>班级</th>
                        <th>平时分</th>
                        <th>考试分</th>
                        <th>考试权重</th>
                        <th>总分</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in course_selected_list %}
                        <tr>
                            <td>{{ student.id }}</td>
                            <td>{{ student.sno.username }}</td>
                            <td>{{ student.sno.name }}</td>
                            {% if student.sno.sex == True %}
                                <td>男</td>
                            {% else %}
                                <td>女</td>
                            {% endif %}
                            <td>{{ student.sno.in_year }}</td>
                            <td>{{ student.sno.in_cls.name }}</td>
                            <td>{{ student.common_score }}</td>
                            <td>{{ student.final_score }}</td>
                            <td>{{ student.cno.tno.weight }}</td>
                            <td>{{ student.score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                </table>
            </div>
        </div>

        <div class="modal fade" id="add_score_block">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="" name="changeMajorPlan" method="get" onsubmit="return(false);">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">添加成绩</h4>
                        </div>
                        <div class="modal-content" id="add_score_modal">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="item_id" class="col-sm-2 control-label">编号：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="item_id" disabled class="form-control"
                                               name="change_college">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="stu_sno" class="col-sm-2 control-label">学号：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="stu_sno" disabled class="form-control"
                                               name="change_major">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="stu_name" class="col-sm-2 control-label">姓名：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="stu_name" disabled class="form-control"
                                               name="change_year">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="stu_sex" class="col-sm-2 control-label">性别：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="stu_sex" disabled class="form-control"
                                               name="change_num">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="stu_year" class="col-sm-2 control-label">年级：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="stu_year" disabled class="form-control"
                                               name="change_lowest_score">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="stu_adm_class" class="col-sm-2 control-label">班级：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="stu_adm_class" disabled class="form-control"
                                               name="change_course_stu_method">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="stu_common_score" class="col-sm-2 control-label">平时分：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="stu_common_score" class="form-control"
                                               name="change_course_num">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="stu_final_score" class="col-sm-2 control-label">考试成绩：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="stu_final_score" class="form-control"
                                               name="change_class_num">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="weight" class="col-sm-2 control-label">权重：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="weight" disabled class="form-control"
                                               name="change_class_num">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="stu_final_score" class="col-sm-2 control-label">总成绩：</label>
                                    <div class="col-sm-10">
                                        <input type="text" id="stu_score" disabled class="form-control"
                                               name="change_class_num">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="center-block">
                                    <button id="cancel_btn" type="button" class="btn btn-default"
                                            data-dismiss="modal">取消
                                    </button>
                                    <button id="sure_add" type="submit" class="btn btn-success">保存</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="change_weigth_form">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="" name="changeMajorPlan" method="get" onsubmit="return(false);">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">修改权重</h4>
                        </div>
                        <div class="modal-content" id="change_weight_modal">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label for="final_weight_input" class="col-sm-2 control-label">期末考试权重：</label>
                                    <div class="col-sm-10">
                                        <input type="number" min="0.0" max="1.0" step="0.1" id="final_weight_input"
                                               class="form-control"
                                               name="change_college">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="center-block">
                                    <button id="cancel_btn" type="button" class="btn btn-default"
                                            data-dismiss="modal">取消
                                    </button>
                                    <button id="sure_change_weight" type="submit" class="btn btn-success">保存</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="file_upload_form">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{% url 'scoreManagement:handle_batch_score' %}"  name="changeMajorPlan" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">上传Excel成绩表</h4>
                        </div>
                        <div class="modal-content" id="change_weight_modal">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <input type="file" id="xls_file_input" class="form-control" name="fileUpload"/>
                                        <input type="submit" class="form-control" value="上传文件"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block script %}
    <script>

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                let adm_class = $('#in_class').val();
                return adm_class === "ALL" || adm_class === data[5];
            }
        );

        $(document).ready(function () {
            var table = $('#student_score_table').DataTable(
                {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy',
                        {
                            extend: 'excel',
                            filename: "学生成绩表",
                        },
                        {
                            extend: 'print',
                            filename: "学生成绩表",
                        }
                    ],
                    "paging": true,       <!-- 允许分页 -->
                    "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                    "searching": true,    <!-- 允许内容搜索 -->
                    "ordering": true,     <!-- 允许排序 -->
                    "info": true,         <!-- 显示信息 -->
                    "autoWidth": false,    <!-- 固定宽度 -->
                    "language": {
                        "sProcessing": "处理中...",
                        "sLengthMenu": "显示 _MENU_ 项结果",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix": "",
                        "sSearch": "搜索:",
                        "sUrl": "",
                        "sEmptyTable": "表中数据为空",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands": ",",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "上页",
                            "sNext": "下页",
                            "sLast": "末页"
                        },
                        "oAria": {
                            "sSortAscending": ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    },
                    "columnDefs": [{
                        "searchable": false,
                        "orderable": true,
                        "targets": 0
                    }],
                    "order": [[0, 'asc']]
                }
            );

            $('#student_score_table tbody').on('click', 'tr', function (e) {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
            // Event listener to the two range filtering inputs to redraw on input
            $('#in_class').change(function () {
                table.draw();
            });
            $('.select2').select2();

            $('#add_score_btn').click(function () {
                if (table.rows('.selected').data().length) {
                    var rowData = table.rows('.selected').data()[0];
                    var form_modal = $('#add_score_block');
                    var inputs = form_modal.find('input');
                    for (let i = 0; i < inputs.length; i++) {
                        $(inputs[i]).val(rowData[i]);
                    }
                    form_modal.modal();
                } else {
                    alert("请选择一项成绩修改");
                }
            });

            $('#sure_add').click(function () {
                var inputs = $('#add_score_block').find('input');
                var values = [];
                for (let i = 0; i < inputs.length; i++) {
                    values.push($(inputs[i]).val());
                }
                const cs_id = values[0];
                const com_score = values[6];
                const fin_score = values[7];
                const weight = values[8];

                const data = {
                    'cs_id': cs_id,
                    'com_score': com_score,
                    'fin_score': fin_score,
                    'weight': weight,
                };

                console.log(data);
                $.get(
                    "{% url 'scoreManagement:tch_add_score' %}",
                    data,
                    function (ret) {
                        if (ret) {
                            console.log("add success");
                            let tds = Array.prototype.slice.call($('.selected td'));
                            tds[6].innerHTML = com_score;
                            tds[7].innerHTML = fin_score;
                            tds[9].innerHTML = ret['score'];
                        } else {
                            console.log("failue");
                        }
                    }
                );
            });

            $('#change_weight_btn').click(function () {
                let old_weight = {{ weight | safe}};
                let tch_sch_id = {{ tch_sch | safe}};
                $("#final_weight_input").val(old_weight);
                $('#change_weigth_form').modal();
                $('#sure_change_weight').click(function () {
                    const final_weight = $('#final_weight_input').val();
                    const data = {
                        'final_weight': final_weight,
                        'old_weight': old_weight,
                        'tch_sch_id': tch_sch_id,
                    };
                    $.get(
                        "{% url 'scoreManagement:tch_change_score_weight' %}",
                        data,
                        function (ret) {
                            if (!ret) {
                                console.log("修改失败");
                            } else if (ret['no_need']) {
                                console.log("无需修改");
                            } else if (ret['succ']) {
                                alert("修改成功，刷新查看");
                            } else {
                                alert("修改失败");
                            }
                        }
                    );
                });
            });

            $('#xls_btn').click(function () {
                $('#file_upload_form').modal();
            });
        });
    </script>
{% endblock %}

