{% extends 'teacher_base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="content-header">
        <h1>成绩管理子系统
            <small>教师</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'scoreManagement:teacher_view_teaching' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">查看我所教的课</li>
        </ol>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">查看我所教的课</h3>
                <div class="box-header">
                    <label style="color: red">学年：</label>
                    <select name="year" id="course_year" class="select2" style="width: 25%">
                        <option value="All" selected="selected">全部</option>
                        {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                    <label style="color: red">学期：</label>
                    <select name="semester" id="course_semester" class="select2" style="width: 25%">
                        <option value="All" selected="selected">全部</option>
                        {% for semester in semesters %}
                            <option value="{{ semester }}">{{ semester }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="box-body">
                <table id="my_teaching_table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>学年</th>
                        <th>学期</th>
                        <th>课程号</th>
                        <th>课程名</th>
                        <th>学时</th>
                        <th>教学学时</th>
                        <th>实验学时</th>
                        <th>学分</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for teaching in teaching_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ teaching.mcno.year }}</td>
                            <td>{{ teaching.mcno.semester }}</td>
                            <td>{{ teaching.mcno.cno.cno }}</td>
                            <td>{{ teaching.mcno.cno.cname }}</td>
                            <td>{{ teaching.mcno.hour_total }}</td>
                            <td>{{ teaching.mcno.hour_class }}</td>
                            <td>{{ teaching.mcno.hour_other }}</td>
                            <td>{{ teaching.mcno.cno.score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">查看其他教师上的课</h3>
                <h4>正在查看的是：工号为：{{ other_tno }}的教师要上的课</h4>
                <div class="box-header">
                    <label for="others_year">学年：</label>
                    <select name="others_course_year" id="others_course_year" class="select2" style="width: 25%">
                        <option value="All" selected="selected">全部</option>
                        {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                    <label for="others_course_semester">学期：</label>
                    <select name="others_semester" id="others_course_semester" class="select2" style="width: 25%">
                        <option value="All" selected="selected">全部</option>
                        {% for semester in semesters %}
                            <option value="{{ semester }}">{{ semester }}</option>
                        {% endfor %}
                    </select>
                    <form action="{% url 'scoreManagement:teacher_view_teaching' %}" method="get" class="pull-right">
                        <label for="seacher_teacher" style="color: red">要查询的教师的工号</label>
                        <input id="seacher_teacher" name="seacher_tno" type="text" placeholder="198500038">
                        <button id='make_search' class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-search"></span>查找
                        </button>
                    </form>
                </div>
            </div>

            <div class="box-body">
                <table id="others_teaching_table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>学年</th>
                        <th>学期</th>
                        <th>课程号</th>
                        <th>课程名</th>
                        <th>学时</th>
                        <th>教学学时</th>
                        <th>实验学时</th>
                        <th>学分</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for teaching in other_teaching_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ teaching.mcno.year }}</td>
                            <td>{{ teaching.mcno.semester }}</td>
                            <td>{{ teaching.mcno.cno.cno }}</td>
                            <td>{{ teaching.mcno.cno.cname }}</td>
                            <td>{{ teaching.mcno.hour_total }}</td>
                            <td>{{ teaching.mcno.hour_class }}</td>
                            <td>{{ teaching.mcno.hour_other }}</td>
                            <td>{{ teaching.mcno.cno.score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </section>

{% endblock %}

{% block script %}
    <script>
        $.fn.dataTable.ext.search.push(
            function (setting, data, dataIndex) {
                let sl_year = $("#course_year").val();
                let sl_semester = $("#course_semester").val();
                return (sl_year == data[1] && sl_semester == data[2]) ||
                    (sl_year == "All" && sl_semester == "All") || (sl_year == "All" && sl_semester == data[2]) |
                    (sl_year == data[1] && sl_semester == "All");
            }
        );

        $.fn.dataTable.ext.search.push(
            function (setting, data, dataIndex) {
                let sl_year = $("#others_course_year").val();
                let sl_semester = $("#others_course_semester").val();
                return (sl_year == data[1] && sl_semester == data[2]) ||
                    (sl_year == "All" && sl_semester == "All") || (sl_year == "All" && sl_semester == data[2]) |
                    (sl_year == data[1] && sl_semester == "All");
            }
        );

        $(function () {
            var table = $('#my_teaching_table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf', 'print'
                ],
                "paging": true,       <!-- 允许分页 -->
                "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                "searching": true,    <!-- 允许内容搜索 -->
                "ordering": true,     <!-- 允许排序 -->
                "info": true,         <!-- 显示信息 -->
                "autoWidth": false,    <!-- 固定宽度 -->
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": true,
                    "targets": 0
                }],
                "order": [[0, 'asc']]
            });
            var table2 = $('#others_teaching_table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf', 'print'
                ],
                "paging": true,       <!-- 允许分页 -->
                "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                "searching": true,    <!-- 允许内容搜索 -->
                "ordering": true,     <!-- 允许排序 -->
                "info": true,         <!-- 显示信息 -->
                "autoWidth": false,    <!-- 固定宽度 -->
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": true,
                    "targets": 0
                }],
                "order": [[0, 'asc']]
            });

            $('#my_teaching_table tbody').on('click', 'tr', function (e) {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
            $('#others_teaching_table tbody').on('click', 'tr', function (e) {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            $('#course_year, #course_semester').change(function () {
                table.draw();
            });

            $('#others_course_year, #others_course_semester').change(function () {
                table2.draw();
            });

            $('.select2').select2();
        });

        {% comment %}
        function search_click() {
            let tno = $('#seacher_teacher').val();
            if (tno.length != 9) {
                alert("检查输入9位工号是否正确！");
            } else {
                $.ajax({
                    url: "{% url 'scoreManagement:teacher_view_teaching' %}",
                    type: 'GET',
                    data: {"tno": tno},
                    success: function (res, status) {
                        console.log(res);
                    },
                    error: function () {
                        console.log("error");
                    }
                });
            }
        }
        {% endcomment %}
    </script>
{% endblock %}