{% extends 'teacher_base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="content-header">
        <h1>上传成绩
            <small>教师</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'scoreManagement:welcome' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">成绩管理</li>
            <li class="active">上传学生成绩</li>
        </ol>
    </section>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">请选择您要上传成绩的课程</h3>
        </div>

        <div class="box-body">
            <table id="all_teaching_table" class="table table-bordered table-striped">
                <thead>
                <th>编号</th>
                <th>课程号</th>
                <th>课程名称</th>
                <th>课程性质</th>
                <th>开课学年</th>
                <th>开课学期</th>
                <th>授课教室</th>
                <th>专业名称</th>
                <th>查看学生成绩</th>
                </thead>
                <tbody>
                {% for tch_sch in tch_sch_list %}
                    <tr>
                        <td>{{ tch_sch.id }}</td>
                        <td>{{ tch_sch.tno.mcno.cno.cno }}</td>
                        <td>{{ tch_sch.tno.mcno.cno.cname }}</td>
                        <td>{{ tch_sch.tno.mcno.cno.course_type }}</td>
                        <td>{{ tch_sch.tno.mcno.year }}</td>
                        <td>{{ tch_sch.tno.mcno.semester }}</td>
                        <td>{{ tch_sch.where }}</td>
                        <td>{{ tch_sch.tno.mcno.mno }}</td>
                        <td>
                            <a href="{% url 'scoreManagement:upload_student_score' tch_sch.id %}">
                                <button id='show_students' class="btn btn-primary" type="button">
                                    <span class="glyphicon glyphicon-plus"></span>查看
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>

        $(document).ready(function () {
            var table = $('#all_teaching_table').DataTable(
                {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy',
                        {
                            extend: 'excel',
                            filename: "所教课程表",
                        },
                        {
                            extend: 'print',
                            filename: "所教课程表",
                        }
                    ],
                    "paging": true,       <!-- 允许分页 -->
                    "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                    "searching": true,    <!-- 允许内容搜索 -->
                    "ordering": true,     <!-- 允许排序 -->
                    "info": true,         <!-- 显示信息 -->
                    "autoWidth": false,    <!-- 固定宽度 -->
                    "language": {
                        "sProcessing": "处理中...",
                        "sLengthMenu": "显示 _MENU_ 项结果",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix": "",
                        "sSearch": "搜索:",
                        "sUrl": "",
                        "sEmptyTable": "表中数据为空",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands": ",",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "上页",
                            "sNext": "下页",
                            "sLast": "末页"
                        },
                        "oAria": {
                            "sSortAscending": ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    },
                    "columnDefs": [{
                        "searchable": false,
                        "orderable": true,
                        "targets": 0
                    }],
                    "order": [[0, 'asc']]
                }
            );

            $('#all_teaching_table tbody').on('click', 'tr', function (e) {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
            // Event listener to the two range filtering inputs to redraw on input
            $('#semester, #year').change(function () {
                table.draw();
            });
            $('.select2').select2();
        });
    </script>
{% endblock %}