{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <section class="content">
        <div class="box">
            <div class="box-body">
                <table id="example">

                </table>
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script>
        $(function () {
        function Employee(name, position, salary, office) {
            this.name = name;
            this.position = position;
            this.salary = salary;
            this._office = office;

            this.office = function () {
                return this._office;
            }
        }

        data = [
    {
        "name":       "Tiger Nixon",
        "position":   "System Architect",
        "salary":     "$3,120",
        "start_date": "2011/04/25",
        "office":     "Edinburgh",
        "extn":       "5421"
    },
    {
        "name":       "Garrett Winters",
        "position":   "Director",
        "salary":     "$5,300",
        "start_date": "2011/07/25",
        "office":     "Edinburgh",
        "extn":       "8422"
    }
];
        $('#example').DataTable({
            ajax: '{% url 'scoreManagement:dt_test' %}',
            columns: [
                {data: 'name'},
                {data: 'age'},
            ]
        });
    });
    </script>
{% endblock %}