{% extends 'base.html' %}

{% block title %}
    公告
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <a href="#" class="list-group-item active">功能</a>
                <a href="#" class="list-group-item">
                    <img src="/backstage/media/web_img/start.png" style="margin-right:15px; width:20px ">开始检查</a>
                <a href="#" class="list-group-item">
                    <img src="/backstage/media/web_img/personal1.png" style="margin-right:15px; width:20px ">个人信息</a>
                {% if request.session.grant <= '2' %}
                    <a href="#" class="list-group-item">
                        <img src="/backstage/media/web_img/download7.png" style="margin-right:15px; width:20px ">数据查看与下载</a>

                    {% if request.session.grant == '1' %}
                        <a href="#" class="list-group-item">
                            <img src="/backstage/media/web_img/delete_user.png" style="margin-right:15px; width:20px ">用户管理</a>
                    {% endif %}
                {% endif %}
                <a href="{% url 'backstage:Homepage' %}" class="list-group-item">
                    <img src="/backstage/media/web_img/back5.jpg" style="margin-right:15px; width:20px ">返回</a>
            </div>
            <div class="col-sm-10">
                {% if message %}
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-disabled="true">×</span>
                        </button>
                        <strong>
                            {{ message }}
                        </strong>
                    </div>
                {% endif %}
                <ol class="breadcrumb">
                    <li class="active">公告查看
                    </li>
                    <li class="active">公告管理
                    </li>
                </ol>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        操作
                    </div>
                    <div class="panel-body">
                        <form role="form" class="form-inline" method="post" style="float: left">
                            {% csrf_token %}
                            <div class="form-group" style="font-size: large">
                                {{ searchannouncement.text.label_tag }}
                                {{ searchannouncement.text }}
                            </div>
                            <button type="submit" class="btn btn-default" style="" name="search">开始搜索</button>
                        </form>
                        <form role="form" class="form-inline" method="post" style="float: right">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info pull-right" style="" name="Add_Announcement">添加
                            </button>
                        </form>
                    </div>
                </div>

                <!--
                    列表展示
                -->
                <div class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                        <tr>
                            <th width="10%" style="text-align: center">编号</th>
                            <th width="10%" style="text-align: center">标题</th>
                            <th style="text-align: center;">正文</th>
                            <th width="10%" style="text-align: center">编辑人</th>
                            <th width="10%" style="text-align: center">收件人</th>
                            <th width="10%" style="text-align: center">收件年级</th>
                            <th width="10%" style="text-align: center">时间</th>
                            <th width="10%" style="text-align: center">状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for anno in announcements %}
                            <tr>
                                {% csrf_token %}
                                <td style="vertical-align: middle; text-align: center">{{ forloop.counter }}</td>
                                <td style="">{{ anno.title }}</td>
                                <td style="">{{ anno.messages }}</td>
                                <td style="vertical-align: middle; text-align: center"> {{ anno.author }}</td>
                                <td style="vertical-align: middle; text-align: center"> {{ anno.receiver }}</td>
                                <td style="vertical-align: middle; text-align: center"> {{ anno.year }}</td>
                                <td style="vertical-align: middle; text-align: center">{{ anno.time }}</td>

                                <td style="vertical-align: middle; text-align: center ;width: 15%">
                                    <div class="btn-group btn-group-justified">
                                        <form action="" method="post" class="btn-group-justified">
                                            {% csrf_token %}
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-info" name="change"
                                                        value={{ anno.id }}>修改
                                                </button>
                                            </div>
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-danger" name="delete"
                                                        value={{ anno.id }}>删除
                                                </button>
                                            </div>
                                            {% if anno.visible == 0 %}
                                                <div class="btn-group">
                                                    <button type="submit" class="btn btn-success" name="Push"
                                                            value={{ anno.id }}>推送
                                                    </button>
                                                </div>
                                            {% endif %}
                                        </form>
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}