{% load staticfiles %}

<!DOCTYPE html>
<html class="app-ui" lang="zh-CN">

    <head>
        <!-- Meta -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <!-- Document title -->
{#        <title>Frontend - login</title>#}
        <title>{% block title %}base{% endblock %}</title>

        <meta name="description" content="AppUI - Frontend Template & UI Framework" />
        <meta name="robots" content="noindex, nofollow" />

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="{% static 'assets/img/favicons/apple-touch-icon.png' %}" />
        <link rel="icon" href="{% static 'assets/img/favicons/favicon.ico' %}" />

        <!-- Google fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />

        <!-- AppUI CSS stylesheets -->
        <link rel="stylesheet" id="css-font-awesome" href="{% static 'assets/css/font-awesome.css' %}" />
        <link rel="stylesheet" id="css-ionicons" href="{% static 'assets/css/ionicons.css' %}" />
        <link rel="stylesheet" id="css-bootstrap" href="{% static 'assets/css/bootstrap.css' %}" />
        <link rel="stylesheet" id="css-app" href="{% static 'assets/css/app.css' %}" />
        <link rel="stylesheet" id="css-app-custom" href="{% static 'assets/css/app-custom.css' %}" />
        <!-- End Stylesheets -->
        {% block css %}{% endblock %}
    </head>

    <body class="app-ui">
        <div class="app-layout-canvas">
            <div class="app-layout-container">

                <!-- Header -->
                <header class="app-layout-header">
                    <nav class="navbar navbar-default p-y">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                                <!-- Header logo -->
                                <a class="navbar-brand" href="javascript:void(0)">
                                    <img class="img-responsive" src="{% static 'assets/img/logo/buct.jpg' %}" title="AppUI" alt="AppUI" />
                                </a>
                            </div>

                            <div class="collapse navbar-collapse" id="header-navbar-collapse">
                                <!-- Header navigation menu -->
                                <ul id="main-menu" class="nav navbar-nav navbar-left">
                                    <li>
                                        <a href="">北京化工大学教务管理系统</a>
                                    </li>
                                    <li>
                                        <a href="{%url 'backstage:homepage' %}">主页</a>
                                    </li>
                                </ul>
                                <!-- End header navigation menu -->
                                <ul class="nav navbar-nav navbar-right">
                                    {% if request.session.user_is_login %}
                                        <li><a href="#">当前在线：{{ request.session.user_code }}</a></li>
                                        <li><a href="{% url 'backstage:log_out' %}">登出</a></li>
                                    {% else %}
                                        <li><a href="{% url 'backstage:login' %}">登录</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <!-- .container -->
                    </nav>
                    <!-- .navbar -->
                </header>
                <!-- End header -->
{##}
{#                <main class="app-layout-content">#}
{##}
{##}
{#                    <!-- Modal -->#}
{#                    <div class="modal" id="modal-signup-terms" tabindex="-1" role="dialog" aria-hidden="true">#}
{#                        <div class="modal-dialog">#}
{#                            <div class="modal-content">#}
{#                                <div class="card-header bg-blue bg-inverse">#}
{#                                    <h4>Terms &amp; Conditions</h4>#}
{#                                    <ul class="card-actions">#}
{#                                        <li>#}
{#                                            <button data-dismiss="modal" type="button"><i class="ion-close"></i></button>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                                <div class="card-block">#}
{#                                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant#}
{#                                        quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>#}
{#                                    <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant#}
{#                                        quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>#}
{#                                </div>#}
{#                                <div class="modal-footer">#}
{#                                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>#}
{#                                    <button class="btn btn-sm btn-app" type="button" data-dismiss="modal"><i class="ion-checkmark"></i> Ok</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- End modal -->#}
{##}
{#                </main>#}

{#                <footer class="app-layout-footer">#}
{#                    <div class="container p-y-md">#}
{#                        <div class="pull-right hidden-sm hidden-xs">#}
{#                        </div>#}
{#                        <div class="pull-left text-center text-md-left">#}
{#                            AppUI &copy; <span class="js-year-copy"></span>#}
{#                        </div>#}
{#                    </div>#}
{#                </footer>#}

            </div>
            <!-- .app-layout-container -->
        </div>
        <!-- .app-layout-canvas -->

        <!-- Apps Modal -->
        <!-- Opens from the button in the header -->
        <div id="apps-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-sm modal-dialog modal-dialog-top">
                <div class="modal-content">
                    <!-- Apps card -->
                    <div class="card m-b-0">
                        <div class="card-header bg-app bg-inverse">
                            <h4>Apps</h4>
                            <ul class="card-actions">
                                <li>
                                    <button data-dismiss="modal" type="button"><i class="ion-close"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-block">
                            <div class="row text-center">
                                <div class="col-xs-6">
                                    <a class="card card-block m-b-0 bg-app-secondary bg-inverse" href="index.html">
                                        <i class="ion-speedometer fa-4x"></i>
                                        <p>Admin</p>
                                    </a>
                                </div>
                                <div class="col-xs-6">
                                    <a class="card card-block m-b-0 bg-app-tertiary bg-inverse" href="frontend_home.html">
                                        <i class="ion-laptop fa-4x"></i>
                                        <p>Frontend</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- .card-block -->
                    </div>
                    <!-- End Apps card -->
                </div>
            </div>
        </div>
        <!-- End Apps Modal -->

        {% block content %}{% endblock %}

        <!-- AppUI Core JS: jQuery, Bootstrap, slimScroll, scrollLock and App.js -->
        <script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/core/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'assets/js/core/jquery.scrollLock.min.js' %}"></script>
        <script src="{% static 'assets/js/core/jquery.placeholder.min.js' %}"></script>
        <script src="{% static 'assets/js/app.js' %}"></script>
        <script src="{% static 'assets/js/app-custom.js' %}"></script>

    </body>

</html>