{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}base{% endblock %}</title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{% static 'assets/img/favicons/apple-touch-icon.png' %}" />
    <link rel="icon" href="{% static 'assets/img/favicons/favicon.ico' %}" />

    <!-- Google fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,900%7CRoboto+Slab:300,400%7CRoboto+Mono:400" />

    <!-- Page JS Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/js/plugins/slick/slick.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/js/plugins/slick/slick-theme.min.css' %}" />

    <!-- AppUI CSS stylesheets -->
    <link rel="stylesheet" id="css-font-awesome" href="{% static 'assets/css/font-awesome.css' %}" />
    <link rel="stylesheet" id="css-ionicons" href="{% static 'assets/css/ionicons.css' %}" />
    <link rel="stylesheet" id="css-bootstrap" href="{% static 'assets/css/bootstrap.css' %}" />
    <link rel="stylesheet" id="css-app" href="{% static 'assets/css/app.css' %}" />
    <link rel="stylesheet" id="css-app-custom" href="{% static 'assets/css/app-custom.css' %}" />
    <!-- End Stylesheets -->


</head>
<body class="app-ui layout-has-drawer layout-has-fixed-header">
<div class="app-layout-canvas">
    <div class="app-layout-container">
        <!-- Drawer -->
        <aside class="app-layout-drawer">
            <!-- Drawer scroll area -->
            <div class="app-layout-drawer-scroll">
                <!-- Drawer logo -->
                <div id="logo" class="drawer-header">
                    <a href="Welcome.html" style="margin-left: 15px;">
                        <img class="img-responsive" src="{% static 'assets/img/logo/buct.jpg' %}" title="AppUI" alt="AppUI" style="float: left" />
                        <span style="color: gray; font-size: 30px; float: left; margin-left: 10px;margin-top: 20px;">BUCT</span>
                    </a>
                </div>
                <!-- Drawer navigation -->
                <nav class="drawer-main">
                    <ul class="nav nav-drawer">

                        <li class="nav-item nav-drawer-header">Apps</li>

                        <li class="nav-item active">
                            <a href="#"><i class="ion-ios-speedometer-outline"></i>后台管理子系统</a>
                        </li>

                        <li class="nav-item">
                            <a href="#"><i class="ion-ios-monitor-outline"></i>成绩管理子系统</a>
                        </li>

                        <li class="nav-item">
                            <a href="#"><i class="ion-ios-monitor-outline"></i>毕业设计子系统</a>
                        </li>

                        <li class="nav-item">
                            <a href="#"><i class="ion-ios-monitor-outline"></i>选课子系统</a>
                        </li>

                        <li class="nav-item">
                            <a href="#"><i class="ion-ios-monitor-outline"></i>排课子系统</a>
                        </li>

                    </ul>
                </nav>
                <!-- End drawer navigation -->
            </div>
            <!-- End drawer scroll area -->
        </aside>
        <!-- End drawer -->
        <!-- Header -->
        <header class="app-layout-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="collapse navbar-collapse" id="header-navbar-collapse">

                        <ul id="main-menu" class="nav navbar-nav navbar-left">
                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown">查看成绩</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown">个人课表</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown">个人信息</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" data-toggle="dropdown">修改信息</a>
                            </li>
                        </ul>
                        <!-- .navbar-left -->
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">当前在线：{{ request.session.user_codename }}</a></li>
                            <li><a href="{% url 'backstage:Log_out' %}">登出</a></li>
                        </ul>
                        <!-- .navbar-right -->
                    </div>
                </div>
                <!-- .container-fluid -->
            </nav>
            <!-- .navbar-default -->
        </header>
    </div>
    <!-- .app-layout-container -->
</div>

{% block content %}{% endblock %}

</body>
</html>