{% extends 'base1.html' %}
{% load staticfiles %}
{% block title %}登录页{% endblock %}
{% block css %}
{#    <link rel="stylesheet" href="{% static 'css/login.css' %}">#}
{% endblock %}


{% block content %}
    <!-- Page content -->
    <div class="page-content">
        <div class="container">

            <div class="row">
                <!-- Login card -->
                <div class="col-md-6" style="float: none; margin: 0 auto;">
                    <div class="card">
                        <h3 class="card-header h4">登录</h3>
                        <div class="card-block">
                            <form class='form-login' action="" method="post">

                                {% csrf_token %}
                                {% if message %}
                                    <div class="alert alert-info alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                            <span aria-disabled="true">×</span>
                                        </button>
                                        <strong>
                                            {{ message }}
                                        </strong>
                                    </div>
                                {% endif %}


                                <div class="form-group">
{#                                    <label class="sr-only" for="frontend_login_email">学号</label>#}
                                    {{ login_form.username.label_tag }}
                                    {{ login_form.username }}
{#                                    <input name="username" type="text" class="form-control" id="frontend_login_email" placeholder="用户名" />#}
                                </div>
                                <div class="form-group">
{#                                    <label class="sr-only" for="frontend_login_password">密码</label>#}
{#                                    <input name="password" type="password" class="form-control" id="frontend_login_password" placeholder="密码" />#}
                                    {{ login_form.password.label_tag }}
                                    {{ login_form.password }}
                                </div>
{#                                <div class="form-group">#}
{#                                    <label for="frontend_login_remember" class="css-input switch switch-sm switch-app">#}
{#                                        <input type="checkbox" id="frontend_login_remember" /><span></span> Remember me</a>#}
{#                                    </label>#}
{#                                </div>#}
                                <div class="form-group">
                                    {% if login_form.captcha.errors %}
                                        {{ login_form.captcha.errors }}
                                    {% endif %}
                                    {{ login_form.captcha.label_tag }}
                                    {{ login_form.captcha }}
                                </div>
                                <button type="submit" class="btn btn-app btn-block">登录</button>
                            </form>
                        </div>
                        <!-- .card-block -->
                    </div>
                    <!-- .card -->
                </div>
                <!-- .col-md-6 -->
                <!-- End login -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- End page content -->

{#    <div class="container">#}
{#        <div class="col-md-4 col-md-offset-4">#}
{#            <form class='form-login' method="post">#}
{##}
{#                {% if message %}#}
{#                    <div class="alert alert-info alert-dismissible" role="alert">#}
{#                        <button type="button" class="close" data-dismiss="alert" aria-label="close">#}
{#                            <span aria-disabled="true">×</span>#}
{#                        </button>#}
{#                        <strong>#}
{#                            {{ message }}#}
{#                        </strong>#}
{#                    </div>#}
{#                {% endif %}#}
{##}
{#                {% csrf_token %}#}
{#                <h2 class="text-center">欢迎登录系统</h2>#}
{##}
{#                <div class="form-group">#}
{#                    {{ login_form.username.label_tag }}#}
{#                    {{ login_form.username }}#}
{#                </div>#}
{#                <div class="form-group">#}
{#                    {{ login_form.password.label_tag }}#}
{#                    {{ login_form.password }}#}
{#                </div>#}
{##}
{#                <div class="form-group">#}
{#                    {% if login_form.captcha.errors %}#}
{#                        {{ login_form.captcha.errors }}#}
{#                    {% endif %}#}
{#                        {{ login_form.captcha.label_tag }}#}
{#                        {{ login_form.captcha }}#}
{#                </div>#}
{##}
{#                <button type="reset" class="btn btn-default pull-left" href="{% url 'backstage:Login' %}">重置</button>#}
{#                <button type="submit" class="btn btn-primary pull-right">提交</button>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
    <!-- /container -->
{% endblock %}
