{% extends 'base1.html' %}
{% load staticfiles %}
{% block title %}登录页{% endblock %}
{% block css %}
    {#    <link rel="stylesheet" href="{% static 'css/login.css' %}">#}
{% endblock %}


{% block content %}
    <!-- Page content -->
    <div class="page-content">
        <div class="container">

            <div class="row">
                <!-- Login card -->
                <div class="col-md-6" style="float: none; margin: 0 auto;">
                    <div class="card">
                        <h3 class="card-header h4">注册</h3>
                        <div class="card-block">
                             <form method="post" action="" enctype="multipart/form-data">

                                {% csrf_token %}
                                {% if message %}
                                    <div class="alert alert-info alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                            <span aria-disabled="true">×</span>
                                        </button>
                                        <strong>
                                            {{ message }}
                                        </strong>
                                    </div>
                                {% endif %}


                                {% for field in form %}
                                    <div class="fieldWrapper">
                                                {{ field.errors }}
                                                {{ field.label_tag }} {{ field }}

                                                   {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                    </div>
                                {% endfor %}
                                <button type="submit" class="btn btn-app btn-block">注册</button>
                            </form>
                        </div>
                        <!-- .card-block -->
                    </div>
                    <!-- .card -->
                </div>
                <!-- .col-md-6 -->
                <!-- End login -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- End page content -->


{% endblock %}
