{% extends 'base.html' %}

{% block title %}
    反馈
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <a href="#" class="list-group-item active">功能</a>
                <a href="#" class="list-group-item">
                    <img src="/backstage/media/web_img/start.png" style="margin-right:15px; width:20px ">开始检查</a>
                <a href="#" class="list-group-item">
                    <img src="/backstage/media/web_img/personal1.png" style="margin-right:15px; width:20px ">个人信息</a>
                {% if request.session.grant <= '2' %}
                    <a href="#" class="list-group-item">
                        <img src="/backstage/media/web_img/download7.png" style="margin-right:15px; width:20px ">数据查看与下载</a>

                    {% if request.session.grant == '1' %}
                        <a href="#" class="list-group-item">
                            <img src="/backstage/media/web_img/delete_user.png" style="margin-right:15px; width:20px ">用户管理</a>
                    {% endif %}
                {% endif %}
                <a href="{% url 'backstage:Homepage' %}" class="list-group-item">
                    <img src="/backstage/media/web_img/back5.jpg" style="margin-right:15px; width:20px ">返回</a>

            </div>
            <div class="col-sm-10">
                <div class="container">
                    <div class="col-md-9 col-md-offset-1">
                        <form class='form-register' action="" method="post" enctype="multipart/form-data">
                            {% if message %}
                                <div class="alert alert-info alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                        <span aria-disabled="true">×</span>
                                    </button>
                                    <strong>
                                        {{ message }}
                                    </strong>
                                </div>
                            {% endif %}
                            {% csrf_token %}
                            <div>
                                <h2 class="text-center" style="">邮件发送</h2>
                            </div>
                            <div class="form-group" style="margin-top: 20px">
                                {{ Emailform.receiver.label_tag }}
                                {{ Emailform.receiver }}
                            </div>
                            <div class="form-group">
                                {{ Emailform.title.label_tag }}
                                {{ Emailform.title }}
                            </div>
                            <div class="form-group">
                                {{ Emailform.text.label_tag }}
                                {{ Emailform.text }}
                            </div>
                            <div class="form-group" style="">
                                <h4 style="">{{ Emailform.attach.label_tag }}{{ Emailform.attach }}</h4>
                            </div>

                            <button type="reset" class="btn btn-default pull-left"
                                    href="{% url 'backstage:Sending_EMails' %}">重置
                            </button>
                            <button type="submit" class="btn btn-primary pull-right">发送</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}