{% extends 'base.html' %}
{% block title %}
    删除用户
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <a href="#" class="list-group-item active">功能</a>
                <a href="#" class="list-group-item">
                    <img src="/backstage/media/web_img/start.png" style="margin-right:15px; width:20px ">开始检查</a>
                <a href="#" class="list-group-item">
                    <img src="/backstage/media/web_img/personal1.png" style="margin-right:15px; width:20px ">个人信息</a>
                {% if request.session.grant <= '2' %}
                    <a href="#" class="list-group-item">
                        <img src="/backstage/media/web_img/download7.png" style="margin-right:15px; width:20px ">数据查看与下载</a>

                    {% if request.session.grant == '1' %}
                        <a href="#" class="list-group-item">
                            <img src="/backstage/media/web_img/delete_user.png" style="margin-right:15px; width:20px ">用户管理</a>
                    {% endif %}
                {% endif %}
                <a href="{% url 'backstage:Homepage' %}" class="list-group-item">
                    <img src="/backstage/media/web_img/back5.jpg" style="margin-right:15px; width:20px ">返回</a>
            </div>
            <div class="col-sm-10">
                <ol class="breadcrumb">
                    <li class="active">管理
                    </li>
                    <li class="active">用户列表
                    </li>
                </ol>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        搜索
                    </div>
                    <div class="panel-body">
                        <form role="form" class="form-inline" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ per_form.username.label_tag }}
                                {{ per_form.username }}
                            </div>
                            <button type="submit" class="btn btn-default">开始搜索</button>

                        </form>
                    </div>
                </div>
                <!--
                    列表展示
                -->
                <div class="table-responsive">
                    <table class="table table-striped ">
                        {% if message %}
                            <div class="alert alert-info alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                    <span aria-disabled="true">×</span>
                                </button>
                                <strong>
                                    {{ message }}
                                </strong>
                            </div>
                        {% endif %}
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>用户名</th>
                            <th>邮箱</th>
                            <th>性别</th>
                            <th>入读时间</th>
                            <th>毕业时间</th>
                            <th>学院</th>
                            <th>授权级别</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td style="vertical-align: middle">{{ forloop.counter }}</td>
                                <td style="vertical-align: middle">{{ user.codename }}</td>
                                <td style="vertical-align: middle">
                                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                                </td>
                                <td style="vertical-align: middle"> {{ user.sex }}</td>
                                <td style="vertical-align: middle">{{ user.start_year }}</td>
                                <td style="vertical-align: middle">{{ user.end_year }}</td>
                                <td style="vertical-align: middle">{{ user.department.name }}</td>
                                <td style="vertical-align: middle">{{ user.grant }}</td>
                                <td style="vertical-align: middle">
                                    <div class="btn-group">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-default" name="change"
                                                    value={{ user.codename }}>修改
                                            </button>
                                            <button type="submit" class="btn btn-danger" name="delete"
                                                    value={{ user.codename }}>删除
                                            </button>
                                            {% if user.grant == '4' %}
                                                <button type="submit" class="btn btn-info" name="grant"
                                                        value={{ user.codename }}>认证
                                                </button>
                                            {% endif %}

                                        </form>
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}