{% extends 'base.html' %}

{% block title %}修改用户资料{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class='form-register' action="" method="post">

                {% if message %}
                    <div class="alert alert-info alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-disabled="true">×</span>
                        </button>
                        <strong>
                            {{ message }}
                        </strong>
                    </div>
                {% endif %}

                {% csrf_token %}

                <h2 class="text-center">请输入修改值</h2>

                <div class="form-group">
                    {{ Detail_Form1.password1.label_tag }}
                    {{ Detail_Form1.password1 }}
                </div>
                <div class="form-group">
                    {{ Detail_Form1.password2.label_tag }}
                    {{ Detail_Form1.password2 }}
                </div>

                <div class="form-group">
                    {{ Detail_Form1.building.label_tag }}
                    {{ Detail_Form1.building }}
                </div>
                <div class="form-group">
                    {{ Detail_Form1.grant.label_tag }}
                    {{ Detail_Form1.grant }}
                </div>
                <div class="form-group">
                    {{ Detail_Form1.captcha.errors }}
                    {{ Detail_Form1.captcha.label_tag }}
                    {{ Detail_Form1.captcha }}
                </div>

                <button type="reset" class="btn btn-default pull-left">重置</button>
                <button type="submit" class="btn btn-primary pull-right" name="user_change">提交</button>

            </form>
        </div>
    </div> <!-- /container -->
{% endblock %}
