{% extends 'base1.html' %}
{% block title %}主页{% endblock %}
{% block css %}

{% endblock %}

{% block content %}
    <body>
    <!-- Page header -->
    <div class="page-header bg-green bg-inverse">
        <div class="container">
            <!-- Section Content -->
            <div class="p-y-lg text-center">
                <h1 class="display-2">欢迎使用教务管理系统！</h1>
                <p class="text-muted">Welcome to the Educational Management System.</p>
            </div>
            <!-- End Section Content -->
        </div>
    </div>
    <!-- End Page header -->
{#    <div class="container">#}
{#        <div class="col-md-4 col-md-offset-4">#}
{#            {% if message %}#}
{#                <div class="alert alert-info alert-dismissible" role="alert">#}
{#                    <button type="button" class="close" data-dismiss="alert" aria-label="close">#}
{#                        <span aria-disabled="true">×</span>#}
{#                    </button>#}
{#                    <strong>#}
{#                        {{ message }}#}
{#                    </strong>#}
{#                </div>#}
{#            {% endif %}#}
{#            <h2 class="text-center" style="margin-top: 20%">欢迎使用教务系统</h2>#}
{#            <div style="background: url('../static/buct.jpg');height: 268px;background-position: center;background-repeat: no-repeat"></div>#}
{#        </div>#}
{##}
{#    </div>#}
    </body>
{% endblock %}