{% extends 'adm_base.html' %}
{% load staticfiles %}

{% block content %}
    <section class="content-header">
        <h1>全校教师信息管理
            <small>管理员</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'backstage:welcome' %}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">基本信息管理</li>
            <li class="active">全校教师信息管理</li>
        </ol>
    </section>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">全校教师信息管理</h3>
            <div class="box-header ">
                <label style="color: red">所在学院：</label><select id="college" class="select2" style="width: 20%">
                <option value="ALL" selected="selected">全部</option>
                {% for item in all_college %}
                    <option value="{{ item }}">{{ item }}
                {% endfor %}
                </option>
            </select>
                <label>入职年份：</label><select id="year" class="select2" style="width: 15%">
                <option value="ALL" selected="selected">全部</option>
                {% for item in all_in_year %}
                    <option value="{{ item.in_year }}">{{ item.in_year }}</option>
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>

            <div class="box-body">
                <table id="teachers_table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>学院</th>
                        <th>入职年份</th>
                        <th>工号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>学历</th>
                        <th>职称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for teacher in all_teacher %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ teacher.college }}</td>
                            <td>{{ teacher.in_year }}</td>
                            <td>{{ teacher.username }}</td>
                            <td>{{ teacher.name }}</td>
                            {% if teacher.sex == True %}
                                <td>男</td>
                            {% else %}
                                <td>女</td>
                            {% endif %}
                            <td>{{ teacher.edu_background }}</td>
                            <td>{{ teacher.title }}</td>
                            <td style="vertical-align: middle">
                                <div class="btn-group-lg">
                                    <form action="" method="post" action="{% url 'backstage:adm_view_all_teacher' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-info" name="change"
                                                value={{ teacher.username }}>修改
                                        </button>
                                        <button type="submit" class="btn btn-danger" name="delete"
                                                value={{ teacher.username }}>删除
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var college = $('#college').val();
                var year = $('#year').val();
                return ((college === data[1] || college === "ALL") && (year === data[2] || year === "ALL"));
            }
        );
        $(document).ready(function () {
            var table = $('#teachers_table').DataTable(
                {
                    dom: 'Bfrtip',
                    buttons: [
                        'copy',
                        {
                            extend: 'excel',
                            filename: "全校教师信息表",
                        }, 'pdf', 'print'
                    ],
                    "paging": true,       <!-- 允许分页 -->
                    "lengthChange": true, <!-- 允许改变每页显示的行数 -->
                    "searching": true,    <!-- 允许内容搜索 -->
                    "ordering": true,     <!-- 允许排序 -->
                    "info": true,         <!-- 显示信息 -->
                    "autoWidth": false,    <!-- 固定宽度 -->
                    "language": {
                        "sProcessing": "处理中...",
                        "sLengthMenu": "显示 _MENU_ 项结果",
                        "sZeroRecords": "没有匹配结果",
                        "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                        "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                        "sInfoPostFix": "",
                        "sSearch": "搜索:",
                        "sUrl": "",
                        "sEmptyTable": "表中数据为空",
                        "sLoadingRecords": "载入中...",
                        "sInfoThousands": ",",
                        "oPaginate": {
                            "sFirst": "首页",
                            "sPrevious": "上页",
                            "sNext": "下页",
                            "sLast": "末页"
                        },
                        "oAria": {
                            "sSortAscending": ": 以升序排列此列",
                            "sSortDescending": ": 以降序排列此列"
                        }
                    },
                    "columnDefs": [{
                        "searchable": false,
                        "orderable": true,
                        "targets": 0
                    }],
                    "order": [[0, 'asc']]
                }
            );

            $('#teachers_table tbody').on('click', 'tr', function (e) {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
            // Event listener to the two range filtering inputs to redraw on input
            $('#college, #year').change(function () {
                table.draw();
            });
            $('.select2').select2();
        });
    </script>
{% endblock %}